.section-trending-list{
    background-color: #FFF;
}

.contenedor-trending-list{
    margin: 0px 24px;
    padding: 40px 0px 16px 0px;
}

.header-trending-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.header-trending-list .contenedor-icono{
    margin-right: 10px;
}

.header-trending-list .contenedor-icono img{
    width: 30px;
}

.section-trending-list .contenedor-items .link-trending{
    text-decoration: none;
    color: black;
}

.section-trending-list .contenedor-trending-list .header-trending-list .contenedor-titulo{
    font-family: 16px;
    font-weight: 500;
    line-height: 20px;
}